*{
   margin: 0px; 
   padding: 0px;
}

body{
     backgroud: lightgray;
     font-family: Arial, Helvetica, sans-serif;

}

header{
        
    height: 11xp;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 20px;
    color: black;
    border-bottom: 3px solid black;
}

nav{
   backgroud: blue;
   height: 50px;
   border-botton: 3px solid black;
        color: white;
}

nav ul li{
     float: left;
     list-sytle: none; 
     margin: 19px;
    color: white;
}

.clearfix{
    clear:both;
};

#container{
    margin: 0px;
    border-bottom: 10px aquamarine ;
    text-align: left, center;
    width: 100%;
    color: black;
    font-size: 1vw;

}

footer{
    background: darkblue;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#encabezado{
    background: darkblue;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#contat{
    width: 70%;
  margin: 0px auto;
  border: 25px solid  darkblue;
}

#color{
    background: #fc97f5;

}
