<html>
<head>
   <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Uniformes DanMar</title>  
    <link rel="stylesheet" href="estilos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head> 
<body>
<div id="Equipo">

   <header>
       <p>Uniformes Escolares    Dudas generales Whatsapp 444 167 2323 | Pagina de facebook DanMar Fabrica de Uniformes</p>
        

        <nav>
            <ul id="Menu">
                <li><a href="https://shiroyagami.github.io/Uniformes-DanMar/" target="_blank">Inicio</a></li>
                <li><a href="">Servicios</a>
                    <li><a href="Blog.html">Blog</a></li>
                        <li><a href="Proyecto.html#Sobrenosotros">Sobre nosotro</a></li>
                        <li><a href=""></a></li>
                </li>
                <li><a href="">Tutoriales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
   <div >
     <p> Acerca del Equipo<br> 
    conocenós<br>
   </div>
   <div class="slider.wrap">
      <ul class="slider1">
         <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2dAcs_kBQSrgIeD7pycWSgTOL4BSGxaPqMw&usqp=CAU" alt="slider Uno"></li>
         <li><img src="https://thumbs.dreamstime.com/z/persona-inc%C3%B3gnita-desconocida-110196074.jpg" alt="slider Uno"></li>
         <li><img src="https://thumbs.dreamstime.com/b/hombre-de-negocios-icon-persona-inc%C3%B3gnita-desconocida-silueta-del-en-el-fondo-blanco-112802675.jpg" alt="slider Uno"></li>
         <li><img src="https://thumbs.dreamstime.com/z/persona-desconocida-33001845.jpg" alt="slider Uno"></li>
      </ul>

   </div>
</div>

<footer>
    © <span>2022</span> UNIFORMES-DANMAR, TODOS LOS DERECHOS RESERVADOS
    </footer>
    <script>
    $(document).ready(function(){
      $('.slider1').bxSlider({
         mode: 'fade'
      });
      $('.slider2').bxSlider({
         mode: 'fade'
      });
      $('.slider3').bxSlider({
         mode: 'fade'
      });
      $('.slider4').bxSlider({
         mode: 'fade'
      });
    });
  </script>
</body>
</html>
